@model SampleASPMVCEF.ViewModels.DealerCarUpdateViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-4">
    <h3>Edit Dealer Car</h3>
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="DealerCarId" />
        <div class="mb-3">
            <label asp-for="DealerId" class="form-label"></label>
            <select asp-for="DealerId" class="form-select" asp-items="ViewBag.Dealers"></select>
        </div>
        <div class="mb-3">
            <label asp-for="CarId" class="form-label"></label>
            <select asp-for="CarId" class="form-select" asp-items="ViewBag.Cars"></select>
        </div>
        <div class="mb-3">
            <label asp-for="Stock" class="form-label"></label>
            <input asp-for="Stock" class="form-control" />
            <span asp-validation-for="Stock" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DealerCarPrice" class="form-label"></label>
            <input asp-for="DealerCarPrice" class="form-control" />
            <span asp-validation-for="DealerCarPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="mb-3">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>